<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- 使用 <clear /> 可以移除所有继承的源，确保当前项目只使用这里明确声明的源，增加确定性 -->
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="avalonia-nightly" value="https://nuget-feed-nightly.avaloniaui.net/v3/index.json" />
    </packageSources>
</configuration>